$primary: #e50914;
$secondary: #f5f5f1;

$grey-scale-0: #ffffff;
$grey-scale-1: #bbb8b8;
$grey-scale-2: #aaa9a9;
$grey-scale-3: #999898;
$grey-scale-4: #888787;
$grey-scale-5: #777676;
$grey-scale-6: #666464;
$grey-scale-7: #555353;
$grey-scale-8: #444141;
$grey-scale-9: #333030;
$grey-scale-10: #221f1f;

$success: #2ecc71 !default;
$info: #3498db !default;
$warning: #e67e22 !default;
$danger: #e74c3c !default;
