.border-radius-small {
  border-radius: $border-radius-small;
}

.border-radius-medium {
  border-radius: $border-radius-medium;
}

.border-radius-large {
  border-radius: $border-radius-large;
}

.border-radius-circle {
  border-radius: $border-radius-circle;
}

.border-radius-none {
  border-radius: $border-radius-none;
}
